{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Coda&family=Inconsolata&family=Share+Tech+Mono&family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static 'blog/main.css' %}>
    <title>Giga Ananidze | {{ title }}</title>
</head>

<body>
    <div class="container">
        <nav class="navbar">
            <a class="name" href="{% url 'blog-about' %}">Giga Ananidze</a><hr>
            <div class="dissolved">Backend Dev</div>
            <div class="page-info">
                <a class="logs" href="">About</a>
                <a class="logs" href="">Projects</a>
                <div class="icon-links">
                    {% for social in social_links %}
                    <a href={{ social.link }} target="_blank">
                        <img src={{ social.image.url }}></a>
                    {% endfor %}
                </div>
            </div>
        </nav>
    </div>
    <main class="container">
        {# <div class="row">#}
        <div class="col-md-14">
            {% block content %}{% endblock %}
        </div>
        {# </div>#}
    </main>
</body>

</html>